html,
body {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaeff1;
}

* {
  box-sizing: border-box;
}

/* progress bar */
#nprogress .bar {
  height: 4px !important;
  background-color: #4051b5 !important;
  z-index: 1102 !important;
}
